<p id="notice"><%= notice %></p>

<p>
  <strong>X:</strong>
  <%= @flag.x %>
</p>

<p>
  <strong>Y:</strong>
  <%= @flag.y %>
</p>

<p>
  <strong>Type:</strong>
  <%= @flag.type %>
</p>

<p>
  <strong>Claimed:</strong>
  <%= @flag.claimed %>
</p>

<%= link_to 'Edit', edit_flag_path(@flag) %> |
<%= link_to 'Back', flags_path %>
